PitchPerfect n8n sales workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b726477b-c56b-45e2-8b36-90e62403",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "47f73dc6-1008-4046-9f42-22dc658f4512",
      "name": "Webhook",
      "webhookId": "b726477b-c56b-45e2-8b36-90e624032312"
    },
    {
      "parameters": {
        "url": "={{ $json.body.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "dc818056-868e-4e32-babd-7293258fa634",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const html = $input.item.json.data;\n\nconst techSignals = {\n  \"React\": /react\\.js|react-dom/i,\n  \"Next.js\": /next\\.js|_next\\/static/i,\n  \"Vue\": /vue\\.js|vuex/i,\n  \"Angular\": /angular\\.js|ng-version/i,\n  \"Shopify\": /shopify|myshopify\\.com/i,\n  \"WordPress\": /wp-content|wp-includes/i,\n  \"HubSpot\": /hubspot\\.com|hs-scripts/i,\n  \"Salesforce\": /salesforce\\.com|pardot/i,\n  \"Segment\": /segment\\.com|analytics\\.js/i,\n  \"Intercom\": /intercom\\.com|intercomcdn/i,\n  \"Stripe\": /stripe\\.com\\/v3/i,\n  \"AWS\": /amazonaws\\.com/i,\n  \"Vercel\": /vercel\\.app|vercel\\.com/i,\n};\n\nconst detected = Object.entries(techSignals)\n  .filter(([_, regex]) => regex.test(html))\n  .map(([tech]) => tech);\n\nreturn { techStack: detected, rawHtml: html.slice(0, 500) };\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "e27e5928-7415-4470-b910-bb7df6ea65d4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-2-preview:embedContent?key=your_api_key",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"models/gemini-embedding-2-preview\",\n  \"content\": {\n    \"parts\": [{ \"text\": \"{{ $json.techStack.join(', ') }}\" }]\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "1e4942a2-3ea4-4092-bb81-a9703a918b48",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://2da38672-44a7-4aee-8003-43357a3c6771-us-east-2.apps.astra.datastax.com/api/json/v1/default_keyspace/case_study",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Token",
              "value": "AstraCS:your_api_key"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"find\": {\n    \"sort\": {\n      \"$vector\": {{ JSON.stringify($json.embedding.values) }}\n    },\n    \"options\": {\n      \"limit\": 1\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        0
      ],
      "id": "78517b3f-54d3-4bf1-9d52-46c8bc1a499e",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "You are an elite sales engineer. Write short, personalized cold outreach emails.\nAlways reference the prospect's exact tech stack and tie it to a concrete outcome\nfrom the provided case study. Keep it under 150 words. No generic filler.",
              "role": "model"
            },
            {
              "content": "=Prospect website: {{ $('Webhook').item.json.body.url }}\nTech stack detected: {{ $('Code in JavaScript').item.json.techStack.join(', ') }}\nMost relevant case study: {{ $json.data.documents[0].title }} — {{ $json.data.documents[0].summary }}\n\nWrite a personalized cold email under 150 words for this prospect."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1008,
        0
      ],
      "id": "a8c32935-20ed-4a92-9c7f-6a4ec96066ec",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "7aWERNLU8jQ0PKma",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appGIems1e2bUXCXS",
          "mode": "list",
          "cachedResultName": "PitchPerfect",
          "cachedResultUrl": "https://airtable.com/appGIems1e2bUXCXS"
        },
        "table": {
          "__rl": true,
          "value": "tblca6VpVYM3BDM9h",
          "mode": "list",
          "cachedResultName": "Prospects",
          "cachedResultUrl": "https://airtable.com/appGIems1e2bUXCXS/tblca6VpVYM3BDM9h"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Prospect URL": "={{ $json.url }}",
            "Tech Stack": "={{ $json.techStack }}",
            "Case Study": "={{ $json.caseStudy }}",
            "Email Draft": "={{ $json.emailDraft }}",
            "Created At": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Prospect URL",
              "displayName": "Prospect URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tech Stack",
              "displayName": "Tech Stack",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Case Study",
              "displayName": "Case Study",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email Draft",
              "displayName": "Email Draft",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created At",
              "displayName": "Created At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1536,
        0
      ],
      "id": "b20a2b0c-1ef9-4b7d-b73f-142e9c18d542",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "your_account_id",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Webhook').item.json;\nconst techStackData = $('Code in JavaScript').item.json;\nconst caseStudyData = $('HTTP Request2').item.json;\nconst emailData = $('Message a model').item.json;\n\nreturn {\n  url: webhookData?.body?.url || \"not found\",\n  techStack: techStackData?.techStack ? techStackData.techStack.join(', ') : \"not found\",\n  caseStudy: caseStudyData?.data?.documents?.[0]?.title || \"not found\",\n  emailDraft: emailData?.content?.parts?.[0]?.text || \"not found\",\n  createdAt: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        0
      ],
      "id": "960d7c27-459d-461f-b057-b8bbb1c5b1ca",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1760,
        0
      ],
      "id": "4a07e4e9-4222-4f41-b809-8dd9107c99d9",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {
    "HTTP Request1": [
      {
        "json": {
          "embedding": {
            "values": [
              -0.026694302,
              0.018697713,
              0.01993877,
              -0.015859557,
              -0.003703716,
              0.0010300705,
              -0.03335645,
              -0.00048320866,
              -0.001519243,
              -0.05538302,
              -0.01723897,
              -0.015858943,
              0.0187303,
              -0.006294693,
              -0.01262075,
              0.024975194,
              0.016534703,
              -0.015885048,
              0.0021441742,
              0.015658816,
              -0.005331794,
              -0.003703343,
              0.011032541,
              -0.0071283462,
              0.00041583358,
              -0.014604845,
              -0.009637717,
              -0.022340352,
              -0.044612672,
              0.13671416,
              0.008367524,
              -0.026059454,
              -0.023934176,
              -0.02028242,
              0.004622335,
              0.00033153093,
              0.006591982,
              0.012062819,
              -0.024609419,
              -0.0027110379,
              0.019604627,
              0.01196403,
              0.005260931,
              -0.018376363,
              0.028299525,
              0.015257518,
              -0.007833577,
              -0.03032279,
              0.01865315,
              0.0005657854,
              -0.00029939105,
              0.0027381745,
              0.0120819695,
              -0.017993795,
              -0.012441895,
              0.008641758,
              0.0061242054,
              0.019674253,
              0.006644032,
              0.0074189967,
              0.002072701,
              -0.0131915435,
              0.03288466,
              -0.009113263,
              0.0034306317,
              -0.011058349,
              0.024612397,
              0.011575338,
              0.0118754795,
              -0.006154994,
              -0.008963061,
              -0.0070713717,
              -0.023422787,
              0.03340641,
              0.010788023,
              -0.0051976475,
              0.0064533306,
              -0.0013712286,
              -0.004372791,
              0.001558472,
              -0.004991624,
              -0.035622347,
              -0.029375155,
              -0.0047539677,
              -0.0050054155,
              0.016791288,
              0.008198445,
              0.019506069,
              -0.013144568,
              0.027893027,
              0.0039028197,
              -0.0009462788,
              0.004751352,
              0.010506629,
              -0.005147712,
              -0.0077838628,
              -0.006959657,
              -0.030302556,
              0.0056138644,
              0.00824761,
              -0.004690015,
              -0.018744966,
              -0.01752577,
              -0.015209425,
              -0.0003888634,
              -0.006770439,
              0.0065956092,
              -0.032538988,
              0.017177943,
              0.006605685,
              -0.00971308,
              -0.18375,
              -0.0029660251,
              0.00090576796,
              0.02434568,
              -0.041126195,
              -0.007943436,
              0.0025224264,
              -0.0028887661,
              0.016322674,
              0.0024735248,
              0.010186745,
              -0.008787272,
              -0.021702155,
              0.034980115,
              0.020943379,
              0.030068008,
              -0.009089476,
              0.0046980437,
              -0.04541145,
              -0.005811919,
              0.016273886,
              -0.0008433407,
              -0.029688733,
              -0.017362436,
              -0.00967008,
              -0.017914401,
              0.012821547,
              0.025380589,
              -0.020835651,
              -0.00817128,
              -0.014803821,
              -0.0025181677,
              -0.01848866,
              0.0070537585,
              0.035623237,
              0.009728233,
              -0.0106341485,
              -0.011946618,
              -0.01969044,
              0.025702959,
              0.015521754,
              -0.0047346344,
              -0.00075398886,
              -0.018156549,
              -0.00921976,
              0.0016731061,
              -0.0050659594,
              0.022026751,
              0.011695015,
              -0.013761754,
              -0.000058876976,
              0.0023482516,
              0.013611677,
              0.010403748,
              0.010168952,
              -0.014106771,
              0.045808405,
              -0.021048544,
              0.0035363736,
              -0.008033512,
              -0.020036733,
              0.013203059,
              -0.008869102,
              0.012368872,
              0.00040154535,
              0.001259207,
              0.0122341225,
              -0.0019048065,
              0.022533856,
              0.019062415,
              -0.041267578,
              -0.02828652,
              -0.010182089,
              -0.0049128863,
              -0.009865757,
              -0.023913428,
              0.009150757,
              -0.019301714,
              -0.0088231815,
              0.010895424,
              0.0035840396,
              0.0034784311,
              0.016937466,
              0.007720112,
              -0.009941659,
              -0.006818693,
              -0.0005932284,
              -0.031115592,
              0.025390584,
              -0.0016148009,
              0.008470724,
              0.005509891,
              -0.0011195954,
              0.0127386805,
              -0.03037106,
              0.015344273,
              0.009573531,
              0.0064743003,
              0.0164078,
              -0.014667697,
              0.013237314,
              -0.005806541,
              -0.005870991,
              0.011450232,
              0.0049671573,
              0.006931845,
              0.005997511,
              -0.0018290619,
              -0.004548308,
              -0.014742281,
              0.025394823,
              0.016247416,
              0.0028297042,
              -0.000848363,
              0.001518652,
              0.016331596,
              -0.02506914,
              -0.010692319,
              -0.0028995865,
              0.002717712,
              -0.01382777,
              -0.013123805,
              -0.0062436387,
              0.019974649,
              -0.025090745,
              0.022383904,
              -0.0018858229,
              -0.008686211,
              0.019978842,
              -0.005648551,
              -0.0082455715,
              0.029996494,
              0.0018880068,
              0.011762957,
              -0.024629496,
              0.04207951,
              -0.000065232685,
              0.006441677,
              -0.013462472,
              -0.0011443079,
              0.008590284,
              0.009972148,
              0.014177927,
              -0.012935197,
              0.011787869,
              0.002454622,
              0.007033132,
              0.0018868375,
              -0.008822204,
              -0.022418836,
              -0.0027028387,
              0.006744535,
              -0.0078676315,
              -0.009183236,
              0.0011814507,
              0.0016179095,
              -0.001415352,
              0.011169432,
              -0.013102984,
              -0.0062855463,
              -0.0030023702,
              -0.003446418,
              -0.0073397714,
              0.008134903,
              -0.0023050802,
              -0.0093025,
              0.0035043713,
              0.004118914,
              -0.020475004,
              -0.022898845,
              -0.023140842,
              0.00041298306,
              -0.018155424,
              0.010310593,
              0.017185088,
              0.01873553,
              0.012804743,
              -0.0012808215,
              -0.00080482627,
              0.009284555,
              0.016761465,
              0.000464093,
              0.005052589,
              0.011068599,
              0.012721101,
              0.0060550426,
              0.014621546,
              0.008577948,
              -0.0052624866,
              0.003203174,
              0.016317794,
              0.011910055,
              0.0047837887,
              0.008345388,
              0.039587867,
              -0.013482345,
              0.00053418864,
              0.00009034441,
              0.006392732,
              -0.0038284985,
              -0.018734207,
              -0.014401113,
              -0.022083437,
              -0.011092734,
              -0.020012014,
              0.004905627,
              0.01794442,
              0.011603041,
              -0.11432324,
              -0.007893179,
              -0.00088211184,
              0.01322124,
              -0.008132283,
              -0.007388277,
              -0.022180375,
              -0.01434667,
              0.004899825,
              0.0004996662,
              0.009036125,
              -0.004363081,
              -0.0115721775,
              -0.0008099077,
              0.008562345,
              0.0015385133,
              -0.0021870364,
              -0.0075106015,
              -0.009539156,
              0.017336555,
              -0.0053530764,
              -0.0064706528,
              -0.1701555,
              -0.009133852,
              0.0074066576,
              0.00023257987,
              -0.014408455,
              -0.0341753,
              -0.0043125153,
              -0.021295477,
              0.017215809,
              0.034601305,
              0.004143766,
              -0.0033782015,
              -0.0049936483,
              0.016197907,
              0.021892378,
              0.02532645,
              -0.0011663528,
              -0.0011240303,
              0.009707797,
              0.04208875,
              0.010939112,
              0.006826544,
              0.0062829116,
              -0.008658013,
              -0.006030038,
              -0.021500781,
              -0.013018398,
              0.0026713002,
              0.0057052206,
              0.0019680911,
              -0.00091366173,
              0.02073422,
              0.030095188,
              0.014144581,
              0.013337964,
              0.022726864,
              0.034550134,
              -0.0013144909,
              -0.02837399,
              -0.017405093,
              0.010950795,
              -0.0045715123,
              -0.0031582068,
              0.05760096,
              -0.004311843,
              0.0005290769,
              0.009439029,
              -0.008062558,
              0.015469572,
              -0.009863259,
              0.03101599,
              -0.0029987276,
              0.00006119901,
              -0.0024420752,
              -0.007113548,
              -0.00019804224,
              -0.008189784,
              0.0074236467,
              -0.0032010323,
              -0.008338046,
              0.028031155,
              -0.0021631732,
              -0.00055491127,
              -0.01990889,
              0.01630825,
              -0.007796854,
              -0.009412038,
              -0.026557473,
              -0.008490143,
              -0.018221023,
              0.0014768176,
              0.005933098,
              -0.023505058,
              0.017089216,
              0.0018572713,
              -0.011519274,
              -0.0034509823,
              -0.022563774,
              -0.03143942,
              -0.0013669144,
              0.004894192,
              -0.019164436,
              -0.0033411372,
              0.032588348,
              0.014318772,
              0.0042399312,
              -0.0068891477,
              -0.008621586,
              -0.0045199767,
              -0.010884665,
              -0.0025655588,
              -0.006135275,
              0.024516132,
              0.007081639,
              -0.0027739336,
              -0.00026282988,
              0.009802544,
              -0.0042879093,
              -0.019845914,
              -0.007814905,
              -0.0066424115,
              -0.030045876,
              0.006887093,
              0.023630647,
              -0.018075688,
              -0.004041949,
              0.055812187,
              -0.008570741,
              -0.02941125,
              -0.0043831337,
              0.019752357,
              0.003674384,
              0.010623069,
              0.0058307443,
              0.0068576774,
              0.005799424,
              -0.01338357,
              -0.028592417,
              0.0058340216,
              -0.010378526,
              -0.0005849849,
              0.006773034,
              -0.017823417,
              -0.003584177,
              0.0083288355,
              -0.0008448599,
              -0.0117732,
              -0.013607901,
              0.019628255,
              -0.02738838,
              -0.0013064509,
              0.007862921,
              -0.0010352477,
              -0.011194416,
              0.005636161,
              -0.018250098,
              0.006649499,
              0.02622646,
              -0.0064625666,
              0.001977326,
              -0.012990538,
              0.004831366,
              -0.007745243,
              0.012195044,
              -0.0068326215,
              0.031747498,
              -0.026519794,
              -0.004121513,
              -0.0005507071,
              -0.002894498,
              -0.011017827,
              -0.023148766,
              0.0069887605,
              0.03446034,
              0.000029502875,
              0.015258276,
              -0.020183215,
              -0.014357953,
              -0.0018753374,
              -0.018479249,
              -0.0028541225,
              -0.008562848,
              0.004005661,
              -0.014176837,
              0.0009984021,
              -0.010429272,
              -0.17406107,
              -0.0045572957,
              0.0065651694,
              -0.0023107792,
              -0.004113645,
              0.004286499,
              0.009779145,
              0.015688619,
              0.0054512126,
              -0.020560984,
              0.012824419,
              -0.0044899774,
              -0.01727975,
              -0.011992797,
              0.012542967,
              0.0020323538,
              0.02091638,
              -0.020437187,
              -0.016813133,
              -0.00424789,
              0.0017744735,
              -0.01992072,
              0.0041535175,
              0.02564994,
              0.016609343,
              -0.0037515406,
              -0.010599327,
              -0.0062843086,
              -0.0037509303,
              0.016625697,
              -0.014384742,
              -0.009347611,
              -0.025009302,
              0.011580216,
              -0.032437447,
              0.019680003,
              -0.01072928,
              0.020608902,
              -0.022588136,
              0.006970589,
              0.010105572,
              -0.0071892063,
              0.047289256,
              -0.010418444,
              0.0022547282,
              -0.019469893,
              0.017665269,
              -0.053720552,
              0.0010980857,
              -0.017823542,
              -0.000007892741,
              -0.021099111,
              -0.024373619,
              -0.0020480494,
              -0.008083491,
              0.00787135,
              -0.02901404,
              -0.023345293,
              0.0039555635,
              -0.004086769,
              -0.001460664,
              -0.02582226,
              0.0076872366,
              0.011477154,
              -0.0011742677,
              -0.010808851,
              0.00079866115,
              0.10477799,
              -0.013776399,
              -0.014245916,
              -0.019347766,
              0.021039972,
              0.023714913,
              -0.0140996305,
              0.0086353775,
              0.012566161,
              -0.002293251,
              -0.0072615654,
              -0.01608545,
              -0.015440027,
              -0.00752646,
              0.014355739,
              0.025012525,
              0.0022019392,
              -0.0064057587,
              0.019622525,
              0.0067034434,
              0.0018645779,
              0.0018810093,
              0.017025158,
              -0.012233326,
              0.0009587814,
              0.0064219274,
              0.011967866,
              -0.0009340843,
              0.030436732,
              0.0061812475,
              0.00030181094,
              0.031872723,
              0.0048601846,
              -0.018090311,
              0.02320886,
              0.0075232782,
              -0.00038536542,
              -0.005161921,
              0.0021981099,
              0.027547976,
              -0.004749461,
              -0.00660117,
              0.01084857,
              -0.005895125,
              -0.02458582,
              0.0013749127,
              0.01642283,
              0.042154137,
              0.003129706,
              0.0037989996,
              0.0153038595,
              -0.010585898,
              0.0067021484,
              0.012350095,
              -0.0028923645,
              -0.0022484367,
              0.0045640054,
              0.009634864,
              -0.007601018,
              0.016381966,
              0.015062711,
              0.015737029,
              -0.041007806,
              -0.0132381,
              -0.008311473,
              0.02291706,
              -0.015726293,
              0.0074095884,
              0.007228363,
              0.014034024,
              0.015276413,
              0.018708494,
              -0.021246575,
              -0.020236067,
              -0.0044321255,
              -0.0038171788,
              0.008152371,
              0.0044563054,
              0.0035860625,
              0.012785488,
              -0.0045577767,
              -0.011027586,
              0.030232113,
              0.00373295,
              -0.004898519,
              0.0079389615,
              0.011726874,
              -0.012742333,
              0.0073773484,
              0.02057414,
              -0.01378393,
              0.0031902692,
              0.012676875,
              0.01009701,
              0.00836665,
              -0.0071080825,
              -0.002852774,
              -0.015054966,
              0.020339184,
              -0.012410268,
              0.009483194,
              -0.014241382,
              0.020841528,
              0.0022141882,
              -0.01343861,
              0.014593526,
              -0.0034584517,
              0.025001986,
              -0.0044777766,
              -0.01733389,
              0.013789148,
              0.014042942,
              0.016667662,
              -0.013497016,
              -0.004562401,
              0.00763055,
              -0.026774663,
              -0.0045945942,
              -0.018777534,
              0.0014792738,
              0.006100655,
              0.015945252,
              -0.0023594126,
              -0.02324477,
              0.003771149,
              -0.032817923,
              0.03472176,
              -0.00796884,
              0.012842874,
              -0.0027896767,
              -0.0014567774,
              -0.004894355,
              -0.005475128,
              -0.021532035,
              0.01964887,
              -0.007604698,
              0.03098481,
              -0.028288994,
              -0.0036351224,
              0.00986863,
              -0.0057986765,
              -0.0031469504,
              -0.009700256,
              0.021375556,
              -0.0071319756,
              0.0035367883,
              0.019845419,
              -0.0024383895,
              0.002768299,
              0.023898136,
              0.0089810835,
              0.011210058,
              0.014205787,
              0.018321184,
              -0.01863645,
              0.014088349,
              0.010818571,
              0.012935084,
              0.054222107,
              -0.010150473,
              -0.029647196,
              -0.0102233,
              -0.02233277,
              -0.018462636,
              0.0019394923,
              0.019529969,
              -0.013533843,
              -0.007075265,
              0.006615405,
              -0.0007033147,
              -0.006503781,
              0.010615487,
              -0.00843898,
              -0.023469342,
              -0.0015774341,
              -0.018129114,
              0.006362986,
              0.0066129006,
              0.016222479,
              0.039364904,
              0.026024565,
              -0.014654143,
              -0.0112452,
              -0.0043717897,
              -0.008015327,
              -0.0016542275,
              -0.036986243,
              0.0027475804,
              0.001712122,
              0.021164607,
              0.0021329604,
              0.009115201,
              0.008011164,
              0.011881556,
              0.015350897,
              -0.034791883,
              0.0034519075,
              -0.006908729,
              0.019592822,
              0.009838249,
              0.0048736534,
              0.009262737,
              0.010415721,
              -0.001075263,
              -0.011654502,
              -0.014401849,
              0.00001831561,
              -0.007092796,
              0.004322339,
              0.010901532,
              -0.018036215,
              -0.005787703,
              0.011572675,
              0.008192851,
              0.004920721,
              0.005918366,
              0.0076717725,
              -0.021261802,
              -0.01273537,
              -0.023300067,
              -0.0020056753,
              -0.012635488,
              -0.00932743,
              0.01582243,
              -0.019406378,
              -0.014976372,
              0.00089284196,
              0.0054717814,
              -0.0059395437,
              -0.00011661354,
              -0.0050295363,
              0.0121077625,
              0.015185607,
              -0.00038076154,
              -0.007507481,
              -0.01009076,
              -0.021675348,
              0.021955822,
              -0.02540189,
              0.008464695,
              0.02142762,
              -0.0048648566,
              0.010210749,
              -0.0034184689,
              -0.0025731022,
              -0.02571858,
              0.0015752249,
              -0.013587637,
              -0.011260378,
              0.026025895,
              -0.010047913,
              0.016267661,
              0.0011325391,
              -0.016476238,
              0.00024532503,
              0.025855273,
              -0.018536923,
              -0.009196794,
              0.0133643225,
              -0.010665187,
              0.0025496942,
              0.012362547,
              -0.008134149,
              0.01367479,
              0.04261021,
              -0.0005703427,
              -0.019497897,
              -0.010003544,
              -0.00015315333,
              -0.00661332,
              0.013333121,
              -0.00877651,
              -0.023037177,
              0.0012426738,
              -0.005228088,
              0.024707867,
              -0.008118795,
              0.008001889,
              0.009353403,
              0.007988598,
              0.021145714,
              0.026420735,
              -0.018370083,
              -0.020502735,
              -0.023618313,
              0.0068556163,
              -0.02737784,
              -0.015773542,
              -0.025090786,
              0.12062749,
              -0.0035362537,
              -0.009888956,
              0.014704194,
              0.0037103337,
              0.017242398,
              -0.0042600385,
              0.00858976,
              -0.006486272,
              -0.011944665,
              0.009791062,
              0.014659337,
              -0.014614329,
              0.0010415621,
              0.0114199435,
              0.002101464,
              -0.031841718,
              0.018006736,
              0.024409806,
              -0.028679173,
              -0.010440033,
              -0.014131994,
              0.004826567,
              0.002292904,
              -0.0030667828,
              0.014063154,
              -0.004252858,
              0.0015513381,
              -0.01371302,
              0.00855377,
              0.0051041716,
              -0.005538464,
              0.0062402096,
              -0.01288987,
              0.020776918,
              0.0021019762,
              -0.0312506,
              0.0010962015,
              -0.011991684,
              -0.022152768,
              -0.030803446,
              -0.013423168,
              0.024989361,
              -0.016109109,
              0.00080154696,
              0.001408425,
              0.004305747,
              -0.004712648,
              -0.00061634416,
              -0.00637548,
              -0.0012079539,
              0.012950331,
              -0.010457949,
              -0.0027575884,
              0.013264035,
              -0.0031824855,
              0.005898077,
              -0.00604122,
              -0.031180758,
              -0.008580397,
              -0.116663076,
              -0.006088652,
              0.0008735701,
              0.022975648,
              -0.0059067425,
              0.003712091,
              -0.02248148,
              0.009282079,
              0.01391211,
              0.011634278,
              -0.017905649,
              0.003083997,
              -0.00046200276,
              -0.0019920238,
              -0.0073129395,
              -0.056659658,
              0.010337847,
              0.014341086,
              -0.012379935,
              0.013853841,
              -0.004923617,
              0.035409953,
              -0.006819616,
              0.007887017,
              -0.01749114,
              -0.011607722,
              -0.011102172,
              -0.002898002,
              0.0049950443,
              0.0032243773,
              -0.0038335302,
              0.017025901,
              -0.0017686628,
              -0.023644084,
              -0.0033474385,
              -0.010556742,
              0.011221545,
              -0.0031922897,
              0.025406629,
              -0.012767216,
              0.01864054,
              -0.03131655,
              -0.0016160678,
              -0.010681809,
              -0.0027764447,
              0.019253105,
              0.004620072,
              0.0032022083,
              -0.04273763,
              -0.01125038,
              -0.007013995,
              0.012074708,
              -0.011272172,
              0.0075912746,
              0.01828229,
              0.0012456557,
              0.007264355,
              -0.024846604,
              -0.007307607,
              0.01853052,
              0.105658755,
              -0.001974225,
              -0.0153649915,
              -0.007152442,
              0.0065398915,
              -0.0030295153,
              -0.0031791057,
              0.005606424,
              0.009577305,
              0.0035917005,
              -0.0021314828,
              0.00838052,
              -0.014265465,
              0.009728397,
              0.023873497,
              -0.014312764,
              -0.023177734,
              0.001536316,
              -0.017918032,
              -0.018424,
              0.0037929686,
              0.016540382,
              -0.057764,
              0.015108819,
              -0.027865294,
              -0.0044564656,
              0.0021378784,
              0.0060215625,
              -0.01700878,
              -0.037834283,
              0.017183574,
              0.0046932907,
              -0.009248552,
              -0.022719657,
              0.011473536,
              -0.014207322,
              -0.022737505,
              -0.0016503705,
              0.010959724,
              -0.016497374,
              0.00622836,
              -0.0039475523,
              0.0001581474,
              -0.005974907,
              0.0048697055,
              -0.0013488866,
              -0.01258268,
              -0.015053557,
              0.004315837,
              -0.004914931,
              -0.005105139,
              0.011408145,
              0.0097145345,
              -0.007909591,
              -0.0134188,
              -0.008251367,
              -0.007663819,
              0.019436952,
              0.011673844,
              -0.0035266657,
              -0.0068528987,
              -0.01673173,
              0.009241133,
              -0.0017134133,
              -0.00064906944,
              0.0012624204,
              0.009808431,
              0.0066385223,
              0.016421849,
              0.007255776,
              0.005097043,
              -0.009570802,
              0.0024915438,
              0.017317997,
              -0.008503003,
              0.013375001,
              0.0015596789,
              -0.0021303273,
              0.012045493,
              -0.013446967,
              0.011909179,
              0.017235624,
              0.009401693,
              -0.01530569,
              -0.0023704818,
              0.012704982,
              -0.02127713,
              -0.015990177,
              -0.012000958,
              -0.018119477,
              -0.00014026137,
              0.0067525916,
              -0.014981316,
              0.014306312,
              -0.0065904264,
              0.12740348,
              -0.00084915094,
              -0.0014439406,
              0.006781054,
              0.023249619,
              0.0028540443,
              -0.00097499334,
              -0.014918513,
              -0.004769117,
              0.0108362315,
              0.00014128152,
              0.0036141824,
              -0.02541798,
              0.019942231,
              -0.00779678,
              0.016403621,
              -0.016433794,
              -0.0049542384,
              0.0065472485,
              -0.006117777,
              0.017983925,
              -0.008142925,
              0.0067574694,
              0.011698593,
              0.0113126375,
              0.005950749,
              -0.00062514265,
              -0.003915493,
              -0.0014867848,
              -0.0060245097,
              0.02088709,
              0.01676457,
              -0.008040282,
              -0.010365871,
              0.007069578,
              0.006732033,
              -0.00830665,
              -0.0067172986,
              0.00809002,
              -0.0047359252,
              0.009296365,
              0.0048623863,
              0.017821636,
              0.0098715145,
              0.0075348304,
              -0.031822056,
              0.014596468,
              0.0355154,
              -0.0006797374,
              -0.000015817934,
              0.01809348,
              0.0020342339,
              0.025079327,
              0.016470393,
              -0.014959907,
              0.007763629,
              -0.011020303,
              -0.014783689,
              0.0027517038,
              0.035001554,
              0.0031262562,
              -0.027875917,
              -0.005521104,
              -0.01516084,
              -0.006927357,
              -0.016352672,
              0.011999724,
              0.007219006,
              -0.027799,
              0.007266017,
              0.012913494,
              0.014807031,
              -0.021269001,
              -0.016055565,
              -0.0024005987,
              -0.0175446,
              -0.00011775087,
              0.001395627,
              -0.0027110602,
              0.00297782,
              -0.027170435,
              0.0075714965,
              0.008053964,
              -0.018115249,
              -0.034484107,
              -0.010025633,
              -0.015999416,
              0.014500101,
              -0.008509049,
              0.015148928,
              -0.020705095,
              -0.0058845184,
              -0.021532623,
              -0.0010476938,
              -0.00032621212,
              -0.0130172465,
              0.010195137,
              -0.008922997,
              -0.010786542,
              0.004130951,
              0.0137850335,
              -0.0011541531,
              0.033665523,
              0.00942651,
              -0.0048287506,
              -0.007134658,
              0.0010391382,
              0.0057845516,
              0.0024278876,
              0.011107169,
              0.01126787,
              -0.00009797806,
              0.029000307,
              -0.016061688,
              0.011283026,
              -0.013458513,
              0.013501757,
              0.02877307,
              -0.001301572,
              0.011452214,
              -0.0044091092,
              -0.0050644986,
              0.011748011,
              0.007259287,
              0.048981097,
              0.010925264,
              0.008949045,
              0.00039762203,
              -0.0058305413,
              0.0108645605,
              -0.008715134,
              0.016498722,
              -0.0344034,
              0.018179879,
              0.0042309854,
              0.00857909,
              -0.0042473082,
              -0.010634498,
              0.022917727,
              0.005212302,
              0.0026026727,
              -0.0055914903,
              -0.008467639,
              -0.010460002,
              -0.008162958,
              0.010275167,
              -0.019787667,
              -0.0054400796,
              -0.00088438083,
              0.008023652,
              0.003911591,
              0.017872974,
              0.024440724,
              -0.009717456,
              -0.0057133003,
              0.015419769,
              -0.0011847207,
              -0.01305458,
              0.00439734,
              0.003599627,
              0.021367,
              -0.019095277,
              0.013606409,
              -0.015072507,
              0.0035725895,
              -0.00091954484,
              -0.00810897,
              0.0013334462,
              -0.0029827692,
              -0.010821473,
              -0.011353974,
              0.0022895632,
              0.005957011,
              -0.0031568324,
              0.0028911282,
              0.011606077,
              -0.022339543,
              0.0077761724,
              -0.017910399,
              0.0027738977,
              0.019336388,
              -0.015157566,
              0.007878995,
              -0.008155031,
              -0.04510781,
              -0.006337677,
              0.013552944,
              0.008315945,
              0.0075464556,
              -0.00960784,
              -0.00009665428,
              0.009260413,
              -0.003680337,
              0.02195169,
              0.011306811,
              -0.0042161797,
              0.013790894,
              -0.0021772536,
              -0.0052773138,
              0.016035773,
              0.005071742,
              0.0068151006,
              0.010329209,
              -0.010864704,
              0.009961121,
              0.02231795,
              -0.033014808,
              0.029411975,
              0.0025569736,
              0.005473485,
              0.016649798,
              -0.010533643,
              -0.013702431,
              -0.005474639,
              0.014247324,
              0.015899574,
              0.0026076979,
              0.00287802,
              -0.006696946,
              -0.006629287,
              -0.0052198297,
              -0.00913133,
              -0.009107312,
              0.00653894,
              0.009485505,
              -0.0034809965,
              0.012779457,
              0.0035201325,
              0.0010250808,
              0.0038873036,
              -0.0050152373,
              0.017065763,
              0.015178015,
              -0.006026012,
              0.061171923,
              0.016333494,
              -0.008907869,
              0.00902016,
              0.010976464,
              -0.013537163,
              0.005431599,
              -0.0032788678,
              -0.013841599,
              -0.0065519074,
              0.0062270197,
              0.003157946,
              0.0072078174,
              0.04371941,
              0.0148578575,
              -0.003370026,
              0.0020036923,
              -0.010164954,
              -0.00010433763,
              0.0015666919,
              -0.01272344,
              -0.0062976237,
              -0.0054595605,
              0.008896436,
              -0.0061853915,
              -0.007956213,
              -0.0004608057,
              0.011149756,
              -0.0011081519,
              0.0044847624,
              -0.004612358,
              0.002925638,
              0.021619221,
              -0.0073230993,
              -0.0002771623,
              -0.0044761435,
              -0.0060158256,
              0.0016161348,
              -0.013037162,
              0.015682915,
              0.00476954,
              0.005723932,
              -0.0030519315,
              -0.011910333,
              -0.008044908,
              0.008552846,
              -0.007110796,
              -0.008656119,
              0.00051442,
              -0.015512793,
              0.020040955,
              0.0040665185,
              -0.014761643,
              0.008133381,
              0.01872209,
              -0.015386661,
              0.05673673,
              0.0019000754,
              -0.011031357,
              -0.0048311027,
              0.0020256278,
              -0.019342111,
              -0.005488753,
              -0.0061183665,
              0.0011173787,
              -0.004465364,
              0.00023229631,
              -0.0024486987,
              0.0073973313,
              0.008252359,
              0.0132886525,
              -0.007855747,
              0.0022989174,
              0.008290933,
              -0.023227822,
              0.017201677,
              -0.0026553601,
              0.0070852805,
              0.0026376375,
              -0.021714542,
              0.0030173503,
              -0.01059777,
              -0.0019312096,
              -0.006691963,
              -0.013063776,
              -0.016676754,
              0.013152362,
              -0.0209901,
              0.021911118,
              -0.00538332,
              0.009629829,
              -0.0037295022,
              -0.0064535122,
              0.0016056983,
              0.0036317722,
              -0.017054947,
              -0.016088048,
              0.008374635,
              -0.008347816,
              -0.0046942737,
              0.0010426155,
              0.005652169,
              -0.015145867,
              -0.009308982,
              -0.026862988,
              0.011647331,
              0.006938561,
              -0.006622357,
              0.023573507,
              -0.0020101385,
              0.00030208242,
              0.005348928,
              -0.005430956,
              0.0061235754,
              0.118585415,
              -0.03127607,
              0.017565388,
              0.003321267,
              0.015504091,
              0.029409135,
              -0.0010333916,
              -0.019004526,
              -0.012037291,
              -0.0027872906,
              0.0018041335,
              -0.016944498,
              0.0034567567,
              0.0047939285,
              0.019236881,
              0.016925571,
              0.021312948,
              0.008468353,
              -0.01205315,
              -0.004420065,
              -0.0053605097,
              -0.005096463,
              -0.026788969,
              -0.007382684,
              -0.017581511,
              -0.004157018,
              -0.0023914198,
              0.001315124,
              -0.014695752,
              0.026544128,
              -0.033513915,
              -0.007563272,
              0.017995272,
              -0.02192481,
              -0.001785874,
              0.0060470477,
              0.0036303906,
              -0.0074345144,
              -0.004197944,
              0.0071341903,
              -0.013521317,
              -0.0068073836,
              -0.00047236588,
              -0.0041037854,
              0.005115601,
              0.013350556,
              0.00619024,
              0.026484655,
              0.008641549,
              -0.0022550912,
              -0.00014240004,
              0.0033014005,
              -0.015486893,
              0.000022848155,
              -0.0035082807,
              0.007606988,
              -0.0005378046,
              -0.0039052186,
              0.0062871785,
              -0.016568892,
              -0.018165868,
              -0.029477045,
              -0.0025868018,
              -0.013166353,
              -0.018299196,
              0.008550886,
              0.004361673,
              0.0009582377,
              -0.0078528235,
              -0.005274945,
              0.0051211244,
              -0.014252413,
              0.010210364,
              -0.021212881,
              -0.011349184,
              -0.00040137963,
              0.023806721,
              0.0033967462,
              0.021370867,
              -0.0143246995,
              -0.009893518,
              0.016656348,
              0.010472545,
              0.0011140716,
              -0.007384592,
              -0.017941646,
              0.0011639999,
              -0.019369805,
              0.011724226,
              -0.0065242318,
              -0.0011916317,
              0.0067054657,
              -0.013895569,
              0.0042105904,
              -0.0023838799,
              0.03178173,
              -0.009396908,
              0.0028032898,
              0.006493503,
              0.02378564,
              0.005438357,
              -0.014633512,
              -0.018300842,
              -0.0042321603,
              -0.0027365196,
              0.007271826,
              -0.012618556,
              0.00552474,
              0.006153868,
              -0.02074865,
              -0.0051811244,
              0.00083552726,
              0.0041523427,
              0.1682452,
              -0.013024885,
              0.0020480766,
              0.12315009,
              -0.009306287,
              -0.011186649,
              -0.017219903,
              -0.0010344209,
              -0.008543227,
              0.01506957,
              -0.008271299,
              0.006667283,
              -0.009921358,
              -0.015118963,
              0.0010468429,
              0.006554656,
              -0.011550072,
              -0.0013635193,
              0.008822136,
              0.022045406,
              0.007425964,
              -0.012484096,
              -0.008803099,
              0.024178604,
              -0.010112792,
              0.00081661314,
              -0.0056411475,
              -0.01447897,
              -0.006412532,
              -0.0057516457,
              0.0062692836,
              0.02641701,
              0.000011011103,
              -0.0036859591,
              -0.109198846,
              -0.010685972,
              -0.0049648057,
              0.011049858,
              -0.008773645,
              0.016155876,
              0.006016351,
              0.008741243,
              -0.0010153425,
              -0.0029169046,
              -0.01903307,
              0.0058570993,
              -0.009181571,
              0.016778909,
              0.0015830405,
              -0.0005515197,
              0.030289521,
              -0.004843331,
              0.0022301567,
              0.01768818,
              -0.018882422,
              0.07205328,
              -0.033636723,
              -0.0058906903,
              0.0023665563,
              -0.00587135,
              -0.0014378491,
              -0.00958808,
              -0.0044322275,
              0.000057684025,
              -0.013870341,
              -0.02340776,
              0.0043307985,
              -0.007881421,
              -0.016219378,
              0.009802881,
              -0.027101664,
              -0.015538936,
              -0.018919345,
              0.0004667076,
              0.007246387,
              0.01048061,
              -0.0010297031,
              -0.013684768,
              0.014021689,
              -0.00327108,
              -0.00089351006,
              -0.0002283296,
              -0.012395204,
              -0.00018264617,
              -0.008129167,
              -0.0059329006,
              0.006905834,
              0.016118653,
              0.0010684729,
              0.012781319,
              0.0017190932,
              -0.013731062,
              -0.0029650016,
              0.0027407943,
              0.036336787,
              -0.014797135,
              -0.022222769,
              -0.009250169,
              -0.01599399,
              0.007102898,
              0.016817816,
              -0.003627922,
              0.009444973,
              -0.0033042105,
              -0.044153742,
              -0.0028428757,
              -0.018523855,
              0.00021529161,
              0.044942316,
              -0.0009769484,
              0.0056264475,
              -0.01815087,
              0.007938193,
              0.003877979,
              0.0098861465,
              -0.008763556,
              0.012603934,
              -0.011078479,
              0.007785984,
              -0.0008523119,
              0.018329872,
              -0.013427142,
              -0.022558173,
              0.020480419,
              0.00331216,
              -0.027987065,
              0.02920179,
              -0.0011845623,
              -0.009664665,
              0.00040933263,
              -0.015416535,
              0.025085585,
              -0.017667249,
              0.018828413,
              -0.04471354,
              0.0040814206,
              -0.0004178642,
              0.0023932243,
              -0.0033337013,
              -0.015790407,
              -0.0009645855,
              0.045674264,
              -0.017127967,
              0.039825503,
              0.0004483106,
              -0.019796321,
              -0.0116258655,
              0.002838013,
              -0.02177054,
              0.00009722371,
              -0.020324647,
              0.005429402,
              -0.010195802,
              0.007605809,
              -0.0084312335,
              0.010775795,
              -0.0068017826,
              0.013212701,
              0.022257801,
              0.017030677,
              -0.008272741,
              0.018829867,
              -0.1657339,
              -0.000026247499,
              -0.006015539,
              -0.0031129187,
              0.01225464,
              -0.031141846,
              -0.0043958207,
              0.01396484,
              0.0036679294,
              -0.021878798,
              0.0006274755,
              0.011029861,
              0.011072778,
              0.02558993,
              0.021040319,
              -0.0004992923,
              -0.004002094,
              0.0037770318,
              -0.006592489,
              -0.0036486543,
              0.008539288,
              0.004296817,
              0.029470636,
              0.014253738,
              0.012589962,
              0.010150586,
              0.0193127,
              -0.0049514207,
              -0.008754718,
              -0.0048775743,
              -0.0016134359,
              0.0032095572,
              -0.015583594,
              0.008487349,
              -0.0039224443,
              -0.019584779,
              0.006578051,
              0.007743366,
              0.0018058884,
              0.006433623,
              -0.013397177,
              0.028563615,
              0.0060458938,
              0.0010926116,
              0.013119728,
              -0.012403853,
              0.0027567141,
              -0.0015895135,
              0.0015822899,
              -0.0047939047,
              -0.021851515,
              -0.002523974,
              0.014229993,
              -0.029175669,
              -0.021356754,
              -0.04294655,
              -0.026367722,
              -0.002999715,
              -0.010812801,
              0.0041518374,
              -0.0036701937,
              0.013681355,
              -0.0008596993,
              0.004939291,
              0.014941826,
              0.0029327506,
              0.014934191,
              -0.018358162,
              0.005060736,
              0.013264587,
              -0.016697716,
              -0.0042608017,
              0.013265113,
              0.0016596586,
              0.008451337,
              0.017471908,
              0.0012461749,
              -0.00633273,
              -0.015462158,
              -0.0033970557,
              -0.014950644,
              0.013575875,
              -0.0019500043,
              -0.0070291315,
              0.027736785,
              -0.0046714228,
              -0.012315983,
              0.011724313,
              -0.0049924166,
              -0.0024234755,
              -0.0024240178,
              -0.008779392,
              -0.016223043,
              -0.0053658816,
              0.008932172,
              0.020008482,
              0.003878017,
              -0.0067162393,
              -0.013185593,
              0.017517425,
              0.00235654,
              -0.018363072,
              -0.014307519,
              -0.0049522803,
              -0.0009120956,
              -0.010661085,
              -0.009187319,
              -0.02411918,
              0.01823213,
              0.008739917,
              0.00781051,
              0.0028220492,
              -0.0058322405,
              -0.0024300495,
              0.024257174,
              0.01835416,
              0.02139536,
              0.015235016,
              0.0073418566,
              0.022361547,
              0.0018470612,
              0.0016878877,
              -0.010400413,
              0.029049072,
              -0.019557184,
              -0.01401768,
              0.008743221,
              -0.009253831,
              -0.0068987845,
              0.0069529046,
              0.016418898,
              -0.018416096,
              -0.0024753006,
              0.007012831,
              -0.0078543695,
              0.00047885912,
              -0.01038449,
              0.007483271,
              -0.016223397,
              -0.0187549,
              -0.013201036,
              -0.0088693295,
              0.0026270843,
              -0.0064790486,
              0.009093448,
              0.0022847,
              0.009521661,
              -0.012426374,
              0.020038685,
              -0.0041141114,
              0.012584678,
              -0.008522679,
              0.00085379655,
              -0.006280157,
              -0.016966024,
              -0.02290028,
              -0.011922899,
              -0.0034974595,
              -0.00081289414,
              -0.010165488,
              0.013707341,
              0.013205944,
              0.0059617455,
              0.004219292,
              -0.00916491,
              -0.007818076,
              0.0009088304,
              -0.018003844,
              0.02959641,
              0.014149184,
              0.0095439395,
              0.02543798,
              -0.008187289,
              -0.0063907304,
              -0.0015439846,
              -0.0011436784,
              -0.0061762193,
              -0.013997134,
              -0.0043383753,
              0.003132531,
              0.0036763195,
              -0.005228014,
              -0.027063783,
              -0.011116485,
              0.009545333,
              0.008724747,
              -0.009942625,
              0.028545223,
              -0.0033535047,
              -0.027315488,
              -0.0013818808,
              -0.00016255143,
              0.003551321,
              -0.0066674263,
              -0.005104341,
              -0.0028144282,
              -0.009359133,
              0.020376856,
              -0.0050603887,
              -0.018083028,
              0.018983869,
              -0.017343508,
              -0.0072511015,
              -0.007877829,
              0.0010104151,
              0.019686406,
              -0.021042082,
              0.002260322,
              0.016530676,
              0.0076685995,
              0.0050514084,
              0.0139788585,
              0.000012827315,
              0.0039361343,
              0.015278907,
              -0.0021495982,
              0.013115718,
              0.010010333,
              -0.0039796694,
              -0.004595433,
              -0.005276975,
              -0.013090868,
              0.021893758,
              0.00419773,
              0.019537067,
              -0.007909714,
              -0.027965035,
              0.02023173,
              -0.0018015766,
              0.0033453025,
              -0.021905882,
              0.01978451,
              -0.004376882,
              0.007249747,
              0.009605133,
              -0.035339076,
              -0.0131425625,
              -0.011526058,
              -0.0032763784,
              0.00986859,
              -0.011035607,
              0.0042189895,
              -0.0059310053,
              0.021830468,
              -0.02009682,
              0.006554135,
              -0.0064031444,
              -0.031149361,
              0.0037879075,
              -0.0071568904,
              -0.021987138,
              -0.011141386,
              -0.007951121,
              0.039438058,
              -0.016851977,
              0.0025026598,
              -0.00051246415,
              -0.0140034985,
              -0.008979891,
              0.0011980525,
              0.006369639,
              -0.020100547,
              -0.0026110257,
              -0.007563999,
              0.022800723,
              -0.01192198,
              -0.010767845,
              -0.00046266,
              -0.018044872,
              -0.02061856,
              0.0008031167,
              -0.0038112993,
              -0.0123796165,
              0.01788398,
              -0.003056011,
              0.013785722,
              0.012404575,
              -0.021911338,
              -0.005242484,
              -0.0023631698,
              -0.012446406,
              0.00493407,
              -0.0020034784,
              -0.018385438,
              -0.00588973,
              -0.0032863745,
              0.03036274,
              -0.027019935,
              -0.011419848,
              0.004597644,
              0.011375299,
              -0.0024667664,
              -0.011318203,
              0.010446631,
              0.005236693,
              0.019356454,
              0.00627124,
              0.019851815,
              -0.003672899,
              -0.000043832068,
              0.003533504,
              0.012018352,
              -0.014079848,
              0.016878994,
              0.011345984,
              0.022353897,
              -0.0089909695,
              -0.021388544,
              -0.014715254,
              -0.0015662396,
              -0.0024720866,
              0.016048577,
              -0.01718695,
              -0.010588826,
              0.024612384,
              -0.0031899782,
              0.0022321122,
              0.002889262,
              -0.011570758,
              0.012718238,
              -0.0037017087,
              0.012843099,
              -0.027096452,
              -0.008113764,
              0.0016361978,
              0.013910086,
              0.008146403,
              0.01425152,
              -0.021690369,
              0.006386722,
              0.00037465154,
              0.0057630404,
              -0.018024053,
              0.01190654,
              -0.008611829,
              -0.009131769,
              -0.0114376,
              -0.007219405,
              -0.0029740878,
              -0.00451622,
              -0.02415383,
              -0.0056562982,
              0.00871433,
              -0.001407281,
              0.0027836575,
              0.020511337,
              -0.0026651826,
              -0.012989457,
              0.0074298442,
              0.022234282,
              0.005672992,
              0.0061747585,
              0.0254154,
              0.0033162371,
              0.022639973,
              0.012946662,
              -0.014629992,
              -0.004327676,
              0.03511458,
              -0.009717023,
              -0.0012539126,
              0.012549163,
              -0.001892041,
              -0.0011792692,
              -0.0016760177,
              -0.023546154,
              -0.012600129,
              0.013027779,
              0.013364445,
              0.0053593563,
              -0.015244658,
              -0.011323217,
              -0.0031071224,
              -0.0037962464,
              0.002805114,
              -0.022748396,
              -0.017980063,
              0.029735323,
              -0.0040205806,
              0.0010695803,
              -0.015097566,
              -0.008090862,
              0.0029388235,
              0.0115286475,
              -0.015228002,
              -0.0021981888,
              -0.008275823,
              -0.004150342,
              0.013150239,
              0.011513209,
              -0.0071990825,
              -0.0075080544,
              0.0012090788,
              0.0025400834,
              0.0087534925,
              0.004073177,
              0.014063754,
              -0.023890287,
              0.01575714,
              0.0071775727,
              0.016389446,
              -0.008211698,
              -0.015415287,
              -0.008531965,
              -0.022482729,
              0.007458968,
              -0.0012121357,
              0.0046275384,
              -0.006778929,
              0.010604419,
              0.001729812,
              0.017130313,
              -0.053321507,
              0.020159949,
              -0.03737293,
              -0.0032419767,
              0.009664748,
              -0.017125323,
              0.004040088,
              -0.026037084,
              0.011321011,
              0.0019186019,
              0.008408436,
              -0.13094439,
              0.01893926,
              0.016981414,
              -0.012477497,
              0.004732827,
              -0.0027147313,
              -0.014413109,
              -0.009959585,
              -0.01014192,
              -0.031661402,
              0.01572715,
              -0.013866105,
              -0.007303051,
              -0.005403486,
              0.008755488,
              -0.022061823,
              -0.024297042,
              -0.0024804529,
              0.0008829195,
              -0.0029561662,
              0.00979901,
              0.012458847,
              -0.007957271,
              0.010331669,
              -0.0006838963,
              0.0042968965,
              -0.0017336886,
              -0.0051548607,
              -0.011173486,
              -0.020215333,
              0.01152344,
              -0.008220785,
              -0.013441145,
              -0.030991102,
              0.013375304,
              0.004922344,
              0.004697954,
              0.00026885286,
              -0.013820754,
              -0.00086331024,
              0.0202653,
              -0.007055658,
              0.0063488814,
              -0.0048403395,
              0.012223527,
              -0.009689843,
              -0.0070292223,
              0.076218925,
              0.026739163,
              0.009150408,
              -0.007847174,
              -0.015006886,
              -0.022786235,
              0.0061343242,
              0.008316909,
              0.011716784,
              0.011346411,
              -0.0076621682,
              -0.013642716,
              -0.00087474065,
              0.0065717977,
              0.0024703622,
              0.03182679,
              -0.005476034,
              0.014703771,
              -0.013192854,
              0.0095105525,
              -0.015853733,
              -0.004266885,
              0.005624882,
              0.008884381,
              0.009440156,
              -0.01289101,
              0.0296137,
              0.008259819,
              -0.016464064,
              0.011060006,
              -0.008093829,
              -0.012062027,
              -0.02011802,
              -0.014509873,
              -0.005829658,
              -0.0025796115,
              -0.017587055,
              0.0022558928,
              0.02693081,
              0.0017633981,
              -0.02103292,
              0.013289604,
              -0.006612967,
              0.0037512775,
              -0.0023279283,
              -0.020183245,
              0.012226848,
              0.007699532,
              -0.0005328924,
              -0.004523824,
              -0.000112599955,
              0.0016539883,
              0.008659675,
              -0.007260124,
              0.0016286698,
              0.02134293,
              -0.018373638,
              0.0026476025,
              -0.0135388905,
              0.009183466,
              -0.0029842644,
              -0.022331072,
              0.006170687,
              0.005501583,
              -0.013982794,
              -0.005423613,
              -0.004917791,
              -0.0005610723,
              0.0016879601,
              -0.008783873,
              0.0028972677,
              -0.013154687,
              0.00017722843,
              -0.018225942,
              0.002417697,
              -0.022353448,
              0.004992831,
              0.018048631,
              -0.022770736,
              0.0019136377,
              0.0018630483,
              -0.0079708565,
              0.043330193,
              0.0019672057,
              0.030050423,
              0.008778125,
              0.01674893,
              0.006083457,
              0.01174194,
              -0.014438188,
              -0.003548548,
              0.004486827,
              -0.0037630612,
              -0.008037508,
              -0.0059519117,
              0.020813853,
              -0.006658458,
              -0.02320347,
              -0.016215604,
              -0.0077298484,
              -0.0013701085,
              -0.0045578787,
              -0.029117525,
              0.000113093665,
              0.023187818,
              0.015718702,
              0.007175779,
              0.0075569977,
              -0.084814236,
              0.045350708,
              -0.01793745,
              0.0035611875,
              0.0052997703,
              0.01810197,
              0.019181479,
              0.005220733,
              -0.00890462,
              0.00352299,
              0.014120319,
              -0.029597495,
              -0.0024235428,
              0.06042753,
              0.012677544,
              0.00060937187,
              -0.002676972,
              -0.013033373,
              -0.036557287,
              0.012624618,
              -0.002634628,
              0.008303093,
              -0.009977727,
              -0.00032903068,
              0.006199406,
              0.017510364,
              -0.008589738,
              0.007175696,
              0.012296918,
              0.00038572316,
              0.023169456,
              -0.010430321,
              -0.0021025948,
              -0.000077496494,
              -0.008577629,
              -0.015341543,
              -0.025889073,
              0.0038483036,
              -0.018521713,
              -0.0072358716,
              -0.024219535,
              -0.14136939,
              0.0020377582,
              0.014499568,
              -0.006416964,
              -0.005564037,
              0.002134745,
              0.013997629,
              0.0063735642,
              -0.007684345,
              -0.005228304,
              0.020725064,
              -0.01709207,
              0.020466587,
              0.010198323,
              0.007428053,
              -0.009095609,
              0.00482268,
              0.006057518,
              -0.009016493,
              0.010911008,
              -0.05274723,
              0.0017561759,
              0.0069079907,
              0.023251187,
              -0.009929557,
              0.004986321,
              0.0024744007,
              0.017714709,
              -0.0016094162,
              -0.010846634,
              0.00940024,
              -0.01937706,
              -0.007490028,
              0.010508154,
              -0.01911636,
              0.008939623,
              -0.013557043,
              -0.01616264,
              -0.008865596,
              -0.0127473315,
              -0.0075101973,
              -0.0023956446,
              0.045529,
              -0.0060605356,
              -0.017672662,
              -0.004054835,
              -0.017850842,
              -0.016563235,
              -0.010043269,
              0.002665816,
              -0.01532104,
              -0.004826193,
              -0.018433223,
              0.016929077,
              -0.12591033,
              0.002365627,
              0.007648193,
              -0.009846493,
              0.01739728,
              -0.001748546,
              -0.0105872555,
              -0.002306902,
              -0.008242687,
              -0.009141124,
              -0.005714312,
              -0.013745168,
              0.0014413904,
              -0.0021732901,
              0.009900091,
              -0.0049536205,
              0.01405407,
              -0.011930129,
              0.001161259,
              -0.0020973866,
              0.008345967,
              0.0058870595,
              -0.020098219,
              0.009439651,
              -0.0062748627,
              0.016261576,
              0.017668223,
              -0.018557116,
              -0.008992222,
              -0.002447147,
              0.0097932955,
              -0.0119444635,
              -0.021806236,
              -0.004239161,
              0.0098638665,
              -0.0009690773,
              0.00008046548,
              0.017494906,
              0.0021487228,
              0.012071893,
              -0.010732818,
              0.003918814,
              -0.028727395,
              0.012808881,
              -0.010586973,
              -0.006832891,
              0.02000854,
              -0.008353056,
              0.022360176,
              -0.021656126,
              0.02580802,
              -0.014174926,
              0.008977853,
              0.0023878457,
              -0.0023828715,
              -0.011950918,
              0.00019471165,
              0.012563945,
              -0.011845137,
              -0.008565753,
              0.008774874,
              0.012002533,
              -0.011098982,
              0.0031893656,
              0.0034033298,
              -0.00021754179,
              -0.003136667,
              -0.0017422203,
              -0.020631732,
              -0.0024212848,
              0.013002445,
              -0.0021334128,
              0.020417482,
              0.00020157885,
              -0.00026956265,
              -0.000061506515,
              0.011296911,
              0.014238007,
              0.009637338,
              0.010061632,
              -0.008236014,
              0.00437184,
              -0.005710309,
              0.0015600725,
              0.0052125235,
              0.012381804,
              0.009764121,
              -0.031150054,
              0.013653748,
              0.002963457,
              0.018664353,
              -0.004866475,
              0.01569036,
              0.003672444,
              -0.014877111,
              0.009501472,
              -0.012518025,
              0.026358739,
              0.0069490974,
              -0.006806469,
              0.018920155,
              -0.015384773,
              0.0024582203,
              0.012630906,
              0.0073824967,
              0.009333168,
              -0.006670633,
              -0.02970287,
              0.016295034,
              0.009542185,
              -0.009541723,
              0.012149579,
              0.0087206885,
              0.008404498,
              -0.011536521,
              -0.023032196,
              -0.024070015,
              0.012607279,
              0.020342544,
              -0.01113391,
              0.0137707675,
              0.0026651735,
              -0.0018216572,
              0.018770104,
              0.0061591724,
              -0.0099846,
              -0.013591737,
              -0.00817451,
              -0.02563344,
              0.0016253215,
              0.00065847347,
              0.014108393,
              -0.018927779,
              -0.0035851374,
              0.0053839195,
              0.011915686,
              -0.013118922,
              0.0063385363,
              0.009367876,
              -0.008442684,
              0.008114823,
              -0.019692667,
              -0.018719343,
              0.016442591,
              -0.014307842,
              0.005065818,
              -0.005045766,
              -0.032364745,
              0.003984321,
              0.007814629,
              0.01227033,
              -0.020356629,
              0.008188308,
              -0.00416322,
              -0.002501317,
              0.028638564,
              -0.000034515226,
              -0.0049886815,
              0.016003916,
              0.003752505,
              -0.00042465143,
              0.009948495,
              -0.015590312,
              -0.009025685,
              -0.016822588,
              -0.0061142226,
              0.0023346366,
              -0.010818345,
              0.0089158015,
              -0.02085897,
              -0.0091495635,
              0.016892433,
              -0.024918536,
              0.0072955694,
              0.0050088894,
              0.0064786836,
              -0.0068126223,
              -0.016061507,
              0.002546894,
              -0.011627892,
              0.0044468455,
              0.0029823577,
              -0.012048282,
              -0.025986664,
              -0.01811053,
              0.00981879,
              -0.003472124,
              -0.000724623,
              -0.013186551,
              0.0014158625,
              -0.04695068,
              0.014649841,
              0.017702088,
              -0.015575195,
              -0.002761633,
              -0.008329344,
              0.017953154,
              0.006113208,
              -0.005514401,
              0.005175043,
              0.015174492,
              -0.017189194,
              0.006628467,
              0.014263856,
              -0.018863313,
              -0.013846478,
              0.0028858765,
              0.0012230531,
              -0.011041794,
              -0.012080443,
              0.002686472,
              0.010595927,
              -0.0035336607,
              -0.0007632631,
              0.0056737224,
              0.00884221,
              0.0018670395,
              -0.0052627698,
              0.009259818,
              -0.008429409,
              0.033554103,
              0.008410234,
              -0.014354228,
              -0.007374921,
              0.0022101016,
              -0.0018975097,
              -0.008024806,
              -0.010689335,
              0.0053948048,
              -0.0003006273,
              0.020797694,
              -0.006476314,
              0.007345196,
              -0.025829824,
              -0.005228256,
              -0.0035773334,
              0.0041277935,
              -0.01432174,
              0.021252157,
              -0.0063618845,
              0.016214453,
              0.008099587,
              0.025362581,
              -0.020525904,
              0.021574365,
              0.016248604,
              -0.014691268,
              -0.0013137544,
              -0.0036555254,
              -0.0076124566,
              0.006569499,
              0.022791343,
              0.036657397,
              -0.007844605,
              -0.010792938,
              -0.030015731,
              0.013385275,
              0.0014464264,
              0.010618761,
              0.00690877,
              -0.017648077,
              -0.014102918,
              -0.0350634,
              -0.01497822,
              0.014688946,
              -0.0057971166,
              -0.008221488,
              -0.008366075,
              0.0031164212,
              -0.0065120407,
              -0.026366305,
              -0.0065082433,
              -0.0022991041,
              -0.0028768426,
              -0.0064703794,
              -0.027030922,
              0.036053296,
              0.0034981477,
              -0.0334802,
              0.0059818216,
              -0.005485595,
              0.017206337,
              0.0038401852,
              0.049558315,
              -0.005116283,
              0.027210178,
              -0.0012382226,
              0.010286557,
              -0.008503462,
              0.020277929,
              0.011254433,
              0.023500884,
              -0.016161934,
              0.01881606,
              -0.017424572,
              -0.000090112364,
              -0.007176287,
              0.005278392,
              0.007933228,
              0.011548013,
              0.008879416,
              0.012415249,
              0.0027749408,
              -0.014190083,
              0.0044194534,
              0.028845292,
              0.009195429,
              -0.0028782566,
              -0.0022770052,
              0.003152346,
              -0.010628021,
              -0.0022807897,
              -0.020915195,
              0.014456308,
              -0.014313987,
              0.017704794,
              0.006217532,
              0.0010935,
              -0.021019703,
              0.007908484,
              -0.00035309652,
              0.012185101,
              -0.0073879263,
              0.0055761314,
              -0.006993815,
              -0.012488541,
              0.010425628,
              0.013654558,
              -0.0011228106,
              -0.019112127,
              -0.0020794023,
              -0.001765202,
              -0.00040704227,
              0.0055972287,
              -0.002684751,
              0.011913986,
              0.028443431,
              -0.026408667,
              -0.00010980198,
              0.0055674594,
              -0.011030971,
              -0.013092277,
              -0.0004326521,
              -0.01245766,
              -0.0043498734,
              -0.0069277966,
              -0.0048691905,
              0.012184449,
              -0.01935295,
              0.0071947887,
              0.005384453,
              0.015286424,
              0.01015989,
              0.010482927,
              -0.0015136309,
              -0.0075558894,
              0.020506138,
              0.00120831,
              -0.0038844955,
              -0.0046529165,
              0.0012669993,
              0.003570905,
              -0.0053766933,
              -0.007857202,
              -0.0037030864,
              0.0028462268,
              -0.032033328,
              -0.029118683,
              -0.020329235,
              0.013282837,
              0.012894897,
              -0.027314313,
              -0.031056345,
              0.001918579,
              -0.009042446,
              -0.0019459628,
              -0.01850399,
              -0.013989846,
              -0.023996899,
              0.011502656,
              0.018251937,
              -0.0058782003,
              -0.033932876,
              -0.019177644,
              0.00025540072,
              -0.008207244,
              0.00837131,
              0.010068505,
              -0.03868055,
              -0.0058711767,
              -0.0200524,
              0.0137476735,
              0.0023572652,
              0.005330074,
              0.018489374,
              -0.0015687137,
              0.0048527676,
              -0.0029661525,
              -0.0006474415,
              -0.00639557,
              -0.018481268,
              0.0046559446,
              0.008067683,
              0.01119747,
              0.022805652,
              0.0040578307,
              -0.016565185,
              0.032077912,
              0.008372413,
              -0.003782923,
              0.0035019156,
              -0.017768474,
              0.0028611964,
              0.034458805,
              -0.0106979385,
              -0.0070183794,
              -0.02287739,
              -0.02083111,
              -0.0011199765,
              -0.029124096,
              0.0053441008,
              -0.022151817,
              -0.013993872,
              -0.007777193,
              0.0028262942,
              -0.0010022444,
              0.004007448,
              0.007516157,
              -0.011638921,
              0.0034255455,
              -0.013807029,
              0.01947042,
              -0.02206958,
              0.009699722,
              0.008759854,
              0.013401307,
              0.0054783714,
              0.0018956235,
              0.010279667,
              0.011194809,
              -0.009861918,
              0.003353285,
              0.014414448,
              0.00082689757,
              -0.007299046,
              -0.0027090095,
              0.012458211,
              0.008156791,
              0.01305509,
              -0.009133863,
              -0.013070706,
              -0.020040091,
              -0.009264544,
              -0.010179485,
              0.018132897,
              -0.005175781,
              0.0034904585,
              0.000434603,
              -0.019058637,
              0.015980043,
              0.0069476105,
              -0.0025594353,
              -0.0020400947,
              -0.0076380195,
              -0.018459594,
              -0.0025129179,
              0.0053598005,
              -0.018206796,
              0.003114941,
              0.0047915736,
              0.007001679,
              0.032990262,
              -0.020725815,
              0.0266695,
              -0.010256897,
              0.019205723,
              0.014483209,
              0.002816428,
              0.0019492419,
              0.007661049,
              -0.0029013387,
              -0.004406107,
              -0.010794072,
              0.0079879435,
              -0.018162327,
              0.006513068,
              0.0088631045,
              0.004819035,
              -0.00018938755,
              -0.00096149463,
              0.014394465,
              0.0024554697,
              0.0035074914,
              -0.013143574,
              0.0060843946,
              0.025740093,
              -0.0033399365,
              -0.004362329,
              -0.00055049075,
              0.013054772,
              -0.0022548453,
              0.015993765,
              -0.014712268,
              -0.015349148,
              -0.008156787,
              -0.012493322,
              0.004219747,
              0.014056408,
              0.014762326,
              0.009349493,
              -0.011837263,
              0.00554078,
              0.0100366995,
              0.0083187735,
              0.010290099,
              0.00756496,
              -0.0060241558,
              -0.019694278,
              -0.0022941479,
              -0.005845429,
              0.0070647355,
              0.03945173,
              -0.011239159,
              -0.008507689,
              -0.019381965,
              0.011076619,
              0.022364737,
              -0.006601767,
              -0.0052365987,
              -0.0054317443,
              0.009022087,
              -0.0015476109,
              0.0069831936,
              -0.015869712,
              -0.0015878452,
              -0.020704288,
              0.016530892,
              -0.009125229,
              -0.014244699,
              -0.02291034,
              -0.021736797,
              -0.011835093,
              0.008364061,
              -0.02180988,
              -0.011020556,
              -0.00037625735,
              -0.002481091,
              -0.016364781,
              -0.013954938,
              -0.0037477524,
              -0.0051696617,
              -0.00012069976,
              -0.010577746,
              0.022660762,
              0.008162586,
              0.023348236,
              -0.0023458826,
              0.004630386,
              0.0017495297,
              0.020968204,
              0.0044654836,
              0.009271146,
              -0.0064108605,
              0.0008918293,
              -0.0024935587,
              0.002760089,
              -0.004749748,
              -0.014252863,
              -0.0065701334,
              -0.008473367,
              0.03116449,
              0.0007625204,
              -0.00707372,
              -0.0015388938,
              0.011811184,
              -0.0068984847,
              -0.00888371,
              -0.008809336,
              0.006009594,
              -0.007201759,
              0.0052502747,
              -0.03237685,
              -0.014245569,
              0.024164595,
              -0.009766091,
              -0.0056497855,
              -0.0012349593,
              0.021894153,
              -0.007282318,
              -0.0056663826,
              -0.012485686,
              0.004037844,
              -0.027802965,
              0.018271757,
              0.017829232,
              -0.0005299505,
              -0.0018541148,
              0.0105713,
              -0.020551797,
              0.0072667385,
              0.0018556545,
              0.004897359,
              0.023724826,
              0.011519181,
              -0.0023708318,
              0.005661924,
              0.0018801084,
              0.005748301,
              0.00029915772,
              -0.00879978,
              0.0063461135,
              -0.007954586,
              0.005348312,
              -0.01851018,
              -0.006849239,
              0.026846142,
              0.01592941,
              0.008758173,
              -0.009399012,
              -0.010044705,
              0.005910837,
              0.012274815,
              -0.012457868,
              -0.021327065,
              -0.0063378527,
              0.016008973,
              0.00796559,
              0.0027281318,
              -0.0063893273,
              0.0021258465,
              -0.025730029,
              -0.018171482,
              0.003257939,
              0.005403749,
              -0.035012074,
              0.00655944,
              -0.0031561097,
              0.010343677,
              0.019360323,
              0.0053575207,
              0.01093348,
              0.007028066,
              0.010720041,
              0.009374053,
              0.0109326895,
              0.0020136375,
              0.011047582,
              0.01012918,
              -0.005335161,
              -0.007897754,
              0.022308815,
              0.0122504225,
              -0.011862835,
              -0.009582121,
              -0.0041207457,
              0.0126342345,
              -0.0017650129,
              0.010622573,
              -0.016263418,
              -0.011548321,
              -0.0052316543,
              -0.00875263,
              0.017971234,
              -0.021984387,
              0.00814587,
              0.012932024,
              -0.018265652,
              0.009485154,
              0.0036941264,
              0.018029328,
              0.0025229617,
              -0.00046599522,
              -0.0032035373,
              -0.02190969,
              -0.0006355787,
              0.013169318,
              0.0026563634,
              0.0003304943,
              -0.021107769,
              -0.009985868,
              -0.0045412495,
              0.008870492,
              -0.0106860995,
              -0.019174263,
              -0.014631006,
              0.010207821,
              0.026586452,
              0.0017945847,
              -0.10451325,
              -0.006077985,
              -0.032738846,
              -0.009676628,
              0.010659339,
              -0.009644561,
              -0.019887835,
              -0.009391226,
              0.0035318309,
              0.027165381
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "fdd1704b-eb87-48be-a9ba-1464f85abb18",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd45e517b85ac5e3a34ec5447a5d873a6fc6c9df64392fa082cda75fad15ec90"
  },
  "id": "b087ITBRVS0IYwDr",
  "tags": []
}